%grad-bg {
   background: linear-gradient(94.78deg, #68c9ff 9.27%, #d1b5ff 84.06%);
}
%grad-text {
   background: linear-gradient(94.78deg, #68c9ff 9.27%, #d1b5ff 84.06%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   background-clip: text;
   color: transparent;
}
%container {
   padding-left: percent(15, 320);
   padding-right: percent(15, 320);
   @media (min-width: 769px) {
      padding-left: percent(30, 1200);
      padding-right: percent(30, 1200);
   }
   @media (min-width: 1200px) {
      padding-left: percent(50, 1440);
      padding-right: percent(50, 1440);
   }
}
